<div class="container">

  <div class="row">
    <div class="col">
      <app-input-task (addTaskEvent)="addTask($event)"></app-input-task>
    </div>
  </div>


  <div class="row mt-4 border-top border-5 ">

    <div class="col-md-4 px-0 border-end  border-5 overflow-auto ">
      <div class="pendingTask">
        <app-pending-tasks [tasks]="tasks" (deleteTaskEvent)="deleteTask($event)"
          (moveToOnProgressEvent)="moveToOnProgress($event)"
          (moveToCompletedEvent)="moveToCompleted($event)"></app-pending-tasks>
      </div>
    </div>


    <div class="col-md-4 px-0 border-end border-5 overflow-auto ">
      <div class="onProgressTask">
        <app-onprogress-task [tasks]="tasks" (deleteTaskEvent)="deleteTask($event)"
          (moveToCompletedEvent)="moveToCompleted($event)"></app-onprogress-task>
      </div>
    </div>

    <div class="col-md-4 px-0 border-end border-5 overflow-auto ">
      <div class="completedTask">
        <app-completed-tasks [tasks]="tasks" (deleteTaskEvent)="deleteTask($event)"></app-completed-tasks>
      </div>
    </div>
  </div>
</div>